<app-navbar></app-navbar>
<div class="columns">
      <div class="column is-half">
        <div class="container">
          <form action="#" class="form">
            <h3 class="title">Admin Login</h3>
            <p class="title-message" >Login to get access to your society Dashboard</p>
                <label>
                    <input type="email"  class="input" style="width: 425px;" placeholder = "Email/Society Id" required >
                </label><br>
                <label>
                    <input type="password" class="input" style="width: 425px;" placeholder = "Password" required >
                </label>
            <button class="submit">Submit</button>
            <p class="sign-in">Do not have access then enroll your society
                <a routerLink="/enrollsociety" style="color: #0090d8">Enroll now</a>
                </p>
          </form>
        </div>
      </div>

    
    <div class="column">
      <div class="container">
        <form action="#" class="form">
          <h3 class="title">Residential Login</h3>
          <p class="title-message" >Login to get access to your society Dashboard</p>
              <label>
                  <input type="email"  class="input" style="width: 425px;" placeholder = "Email/Society Id" required >
              </label><br>
              <label>
                  <input type="password" class="input" style="width: 425px;" placeholder = "Password" required >
              </label>
          <button class="submit">Submit</button>
          <p class="sign-in">Do not have access then enroll your society
              <a routerLink="/enrollsociety" style="color: #0090d8">Enroll now</a>
              </p>
        </form>
      </div>
    </div>
   
</div>
