<nav class="navbar is-dark headnav" *ngIf="!userLoggedin">
    <div class="navbar-brand">
      
       <a style="margin: 10px;">
        <img src="../../assets/logo.png" alt="">
       </a>
       <h3 class="logo-Text">SOCIO Homes</h3>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">        
        <a href="homepage-section" class="navbar-item">
          Home
        </a>
        <a href="#aboutus-section" class="navbar-item">
          About us
        </a>
        <a href="#feature-section" class=" navbar-item">Features</a>

        <a href="#contactus-section" class="navbar-item">
          Contact us
        </a>
  
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" routerLink="/enrollsociety" style="border-radius: 0%;">
                <span class="icon">
                  <i class="fa-regular fa-address-card"></i>
                </span>
                <span> Enroll your society </span>
              </a>
            </p>

            <p class="control">
              <button class="button is-primary" (click)="redirectToLoginPage()"  style="border-radius: 0%;">
                <span class="icon">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </span>
                <span>Login</span>
              </button>
            </p>
            <p class="control">
              <a class="bd-tw-button button" routerLink="/signup" style="border-radius: 0%;">
                <span class="icon">
                  <i class="fa-regular fa-address-card"></i>
                </span>
                <span>Signup</span>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <nav class="navbar is-dark headnav" *ngIf="userLoggedin" >
    <div class="navbar-brand">
       <a style="margin:14px;">
        <img src="../../assets/logo.png" alt="">
       </a>
       <h3 class="logo-Text">SOCIO Homes</h3>
    </div>
    <div class="navbar-right">
      <span class="username">{{userName}}</span>
      <img src="assets/profile-pic.png" alt="Profile" class="profile-pic">
    </div>
      
  </nav>