
<div class="main-content">
    
    <!-- Requests Table -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Resident ID</th>
            <th>Name</th>
            <th>Flat no.</th>
            <th>Type</th>
            <th>Move-in Date</th>
            <th>Contact</th>
            <th>Bill due</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Customer A</td>
            <td>New HVAC Filters</td>
            <td>Tom Collins</td>
            <td>Pending</td>
            <td><span class="badge medium">Medium</span></td>
            <td>Steve</td>
            <td><button class="action-button">View</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Customer B</td>
            <td>New HVAC Filters</td>
            <td>Jane Doe</td>
            <td>Waiting Invoice</td>
            <td><span class="badge high">High</span></td>
            <td>John</td>
            <td><button class="action-button">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
