<app-navbar id="homepage-section"></app-navbar>
<section id="one">
    <div class="content">
        <div class="text-content">
            <h1 class="white">Making Society Management Hassle-Free
                For Your Society
            </h1>
            <h4 class="blackish">Register your society with SOCIO Homes and experience the services of smart society management!</h4>
            <div class="two-button">
                <button ><a class="t-btn btn" href="#feature-section">View Our Services</a></button>
                <button ><a class="t-btn btn" routerLink="/enrollsociety" >Enroll Your Society</a></button>
            </div>
        </div>
    </div> 
</section>
<app-aboutus id="aboutus-section"></app-aboutus>
<app-features id="feature-section"></app-features>
<app-contactus id="contactus-section"></app-contactus>