<section id="one">
    <div class="content">
        <div class="text-content">
            <h1 class="white">Making Society Management Hassle-Free
                For Your Society
            </h1>
            <h4 class="blackish">Register your society with SOCIO Homes and experience the services of smart society management!</h4>
            <div class="two-button">
                <button ><a class="t-btn btn">View Our Services</a></button>
                <button ><a class="t-btn btn" href="enrollsociety">Enroll Your Society</a></button>
            </div>
        </div>
    </div> 
</section>
<app-aboutus></app-aboutus>
<app-features></app-features>
<app-contactus></app-contactus>