<section id="two">
    <div class="heading ">
        <h1>What We Do</h1>
        <p class="lightblack">Our Society Management System simplifies community living by offering seamless digital solutions for residents, management, and security.We provide an easy-to-use platform for residents to manage rent payments, maintenance requests, and grievance redressals. Stay connected with your community through real-time chat and digital notices.We ensure the safety of your society with digital visitor logs, emergency alerts, and staff attendance tracking. Our platform enhances security with real-time monitoring and verification systems.</p>

    </div>


    <div class="container">
        <div class="info">
            <span><img src="../../assets/Residents.jpg" alt=""></span>
            <div class="info__text">
                <h1>Residents</h1>
                <p>Enjoy a hassle-free living experience with online payments, real-time chat, grievance management, and facility booking for seamless society interaction.</p>
                <h5 class="">READ MORE</h5>
            </div>
        </div>
        <div class="info">
            <span><img src="../../assets/Mangement3.jpg" alt=""></span>
            <div class="info__text">
                <h1>Management</h1>
                <p>Simplify operations with automated billing, resident management, grievance handling, and event notifications, ensuring a well-organized and efficient society.</p>
            </div>
        </div>
        <div class="info">
            <span><img src="../../assets/home-banner-1.png" alt="" style="image-resolution: 500px;"></span>
            <div class="info__text">
                <h1>Security & Staff</h1>
                <p>Enhance safety with visitor tracking, staff attendance monitoring, digital check-ins, and emergency alerts, providing a secure and well-managed environment.</p>
            </div>
        </div>
    </div>

</section>

<section id="five" class="goblack">
    <div class="dog__image"><img src="../../assets/family2.jpg"></div>
    <div class="dog__container">
        <div class="dog__boxes">
            <div class="dog__box">
                <span><i class="fas fa-thumbs-up" style="color:#44beacfc"></i></span>
                <h4>Visitor Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
            <div class="dog__box">
                <span><i class="fas fa-paw" style="color:#44beacfc"></i></span>
                <h4>Grievance and complaint management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
        </div>
        <div class="dog__boxes">
            <div class="dog__box">
                <span><i class="fas fa-bullhorn" style="color:#44beacfc"></i></span>
                <h4>Online rent & maintenance payment</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
            <div class="dog__box">
                <span><i class="fas fa-cut" style="color:#44beacfc"></i></span>
                <h4>Communication Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
        </div>
    </div>

</section>

<section id="five" class="goblack">
    
    <div class="dog__container">
        <div class="dog__boxes"> 
            <div class="dog__box">
                <span><i class="fas fa-thumbs-up" style="color:#44beacfc"></i></span>
                <h4>Residents and Apartment Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
            <div class="dog__box">
                <span><i class="fas fa-paw" style="color:#44beacfc"></i></span>
                <h4>Complaint Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
        </div>
        <div class="dog__boxes">
            <div class="dog__box">
                <span><i class="fas fa-bullhorn" style="color:#44beacfc"></i></span>
                <h4>Maintenance and Bill Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
            <div class="dog__box">
                <span><i class="fas fa-cut" style="color:#44beacfc"></i></span>
                <h4>Staff Management</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
        </div>
    </div>
    <div class="dog__image"><img src="../../assets/management.jpg"></div>
</section>

<section id="five" class="goblack">
    <div class="dog__image"><img src="../../assets/Security.avif"></div>
    <div class="dog__container">
        <div class="dog__boxes">
            <div class="dog__box">
                <span><i class="fas fa-thumbs-up" style="color:#44beacfc"></i></span>
                <h4>Visitor Mangement</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
            <div class="dog__box">
                <span><i class="fas fa-paw" style="color:#44beacfc"></i></span>
                <h4>Services and Staff entries/exits</h4>
                <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
            </div>
        </div>
        
    </div>

</section>