<app-navbar></app-navbar>
<div class="container">
    <div class="title">
        <p>Enroll your Society</p>
    </div>

    <form action="#" [formGroup]="enrollForm" (ngSubmit)="Onsubmit()">
        <div class="user_details">
            <div class="input_box">
                <label for="name">Society Name</label>
                <input type="text" id="name" placeholder="Enter your society name" formControlName="societyName" required>
                <small *ngIf="this.enrollForm.controls['societyName'].invalid && (this.enrollForm.controls['societyName'].touched||this.enrollForm.controls['societyName'].dirty)">*required field</small>
            </div>
            <div class="input_box">
                <label for="name">Number of Flats</label>
                <input type="number" id="name" placeholder="Enter the no. of flats" formControlName="noOfFlats" required>
                <small *ngIf="this.enrollForm.controls['noOfFlats'].invalid && (this.enrollForm.controls['noOfFlats'].touched||this.enrollForm.controls['noOfFlats'].dirty)">*required field</small>
            </div>
            <div class="input_box">
                <label for="name">Society Address</label>
                <input type="text" id="name" placeholder="Enter the address" formControlName="societyAddress" required>
                <small *ngIf="this.enrollForm.controls['societyAddress'].invalid && (this.enrollForm.controls['societyAddress'].touched||this.enrollForm.controls['societyAddress'].dirty)">*required field</small>
            </div>
            <div class="input_box">
                <label for="name">Government Id</label>
                <input type="text" id="name" placeholder="Enter society govt. id" formControlName="govtIdNo" required>
                <small *ngIf="this.enrollForm.controls['govtIdNo'].invalid && (this.enrollForm.controls['govtIdNo'].touched||this.enrollForm.controls['govtIdNo'].dirty)">*required field</small>
            </div>
            
            <div class="input_box">
                <label for="name">Society Registration Number</label>
                <input type="text" id="name" placeholder="Enter registration number" formControlName="societyRegNo" required>
                <small *ngIf="this.enrollForm.controls['societyRegNo'].invalid && (this.enrollForm.controls['societyRegNo'].touched||this.enrollForm.controls['societyRegNo'].dirty)">*required field</small>
            </div>
            
        </div>
        
        <div class="reg_btn">
            <input type="submit" value="Enroll" [disabled]="enrollForm.invalid">
        </div>
        <p class="sign-in">Already enrolled ? 
            <a routerLink="/login" style="color: #0090d8">Login</a>
        </p>
    </form>
</div>

<div class="modal" *ngIf="this.message">
    <div class="modal-content">
        <p>{{message}}</p>
        <button (click)="closePopup()">OK</button>
    </div>
</div>

