<app-navbar></app-navbar>
  <div class="dashboard">
    <!-- Sidebar -->

      <aside class="sidebar">
    
        
        <ul class="top-list">
          <li><a (click)="switchSection('ddashboard')">Dashboard</a></li>
          <li><a  (click)="switchSection('society'); ">Role Management</a></li>
        </ul>

        <!-- Bottom Menu -->
          <ul class="bottom-list">
            <li><a (click)="openLogoutPopup(); $event.preventDefault()">Logout</a></li>
          </ul>
          <!-- Logout Popup -->
          <div *ngIf="showLogoutPopup" class="logout-popup-overlay" (click)="closeLogoutPopup()">
            <div class="logout-popup-card" (click)="$event.stopPropagation()">
              <h2>Are you sure you want to logout?</h2>
              <div class="logout-popup-actions">
                <button class="cancel-btn" (click)="closeLogoutPopup()">Cancel</button>
                <button class="confirm-logout-btn" (click)="Onlogout()">Logout</button>
              </div>
            </div>
          </div>
      </aside>
   
    <!-- Main Content -->
   
    <main class="main-content" [ngSwitch]="activeSection">
          <app-ddashboard *ngSwitchCase="'ddashboard'"></app-ddashboard>
          <app-society *ngSwitchCase="'society'"></app-society>
    </main>

  </div>


