<footer> 
    <div class="container footer-container">
        <div class="col-3">
            <h3>SOCIO Homes</h3>
            <br>
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>

            </div>
            <br>
            <span class="address">Address: Lucknow, Uttar Pradesh, India
            </span>
        </div>
        <div class="col-3">
            <h6>About us</h6>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni sint pariatur consequatur perspiciatis voluptas.
                <br>
                <br>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
            </p>
        </div>
        <div class="col-3">
            <h6>Get Help</h6>
            <a href="#"><i class="fa-brands fa-whatsapp"></i>Whatsapp Help Line</a>

        </div>
        <div class="col-3">
            <h6>Contact</h6>
            <i class="fa-solid fa-envelope"></i>
            <span><a href="mailto:salonisharma1610@gmail.com">  Email us </a></span><br>
            <i class="fa-solid fa-phone"></i>
            <a href="#">  Call us</a>
        </div>
    </div>
    <div class="copyright">
        Copyright &#169; 2024 | Footerpen All rights reserved
    </div>
</footer>



